src/COM/softing/fc/CP/Java/Graphic/CpNavigator/4CPObjectTree.dtd

<!ELEMENT ObjectTree (Object+)>

<!ELEMENT Object (Server?, VisuFile?, ConfFile?, ChildrenFile?, ObjectTree?)>
<!ATTLIST Object 
	  name		CDATA				#REQUIRED
	  type		CDATA				#REQUIRED
	  class		CDATA				#REQUIRED
>

<!ELEMENT Server       (#PCDATA)>
<!ELEMENT VisuFile     (#PCDATA)>
<!ELEMENT ConfFile     (#PCDATA)>
<!ELEMENT ChildrenFile (#PCDATA)>